*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    max-height: 100px;
    padding: 10px 10%;
    background-color:red;
    justify-content: space-between;
    align-items: center;
}

.nav-enlaces li,a,ul {
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 217, 1);
    text-decoration: none;
    background-color:red;
    list-style: none;
}

.nav-enlaces li a{
    padding: 0px 20px;
    text-decoration: none;
    color: rgb(255, 217, 1);
    display: block;
    font-style: oblique;
}

.nav-enlaces > li{
    float: left;
}

.nav-enlaces li ul{
    display: none;
    position: absolute;
    min-height: 140px;
}

.nav-enlaces ul{
    padding-left: 0px;
    margin-block-end: 0%;
}

.nav-enlaces li:hover > ul{
    display: block;
}

.nav-enlaces li a:hover{
    color: rgb(255, 217, 1);
}

.nav-enlaces{
    margin-block-end: 0%;
}


.titulo{
    background-color:red;
}

.titulo a{
    font-size: 35px;
    background-color:red;
    text-decoration: none;
    color: rgb(255, 217, 1);
    font-style: italic;
}

.titulo a:hover{
    color: rgb(255, 217, 1);
}

.card_compra{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 200px;
    justify-content: space-between;
}

.card_compra div{
    text-align: center;
    margin-right: 200px;
}

.card_compra img{
    margin-left: 210px;
}

.card_compra p{
    margin-right: 80px;
}

.inputs{
    margin-top: 150px;
    margin-left: 90px;
}

.numero{
    width: 50px;
}

.boton{
    margin-right: 40px;
}