@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
font-family:'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #dadbdd;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #1d1a1a;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #4fd42d;
    height: 3px;
    box-sizing: border-box;
    width: 60px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #1d1a1a;
    text-decoration: none ;
    font-weight: 300;
    color: #0c0b0b;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #42e422;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(11, 14, 11, 0.555);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f0f1efef;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #040508d5;
    background-color: #64f351be;
}
@media (max-width: 767px){
    .footer-col {
        color: rgb(12, 10, 10);
        width: 50%;
        margin-bottom: 30px;
    }
}
.footer-col .social-links::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #4fd42d;
    height: 3px;
    box-sizing: border-box;
    width: 60px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.6;
    font-family:'Poppins', sans-serif;
    background-color:#c0c3ca;
    color:rgb(12, 10, 10);
}








